body {
  background-color: #f6f5ee;
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
}
