.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(https://s3-alpha-sig.figma.com/img/a430/0082/69d9c36782f2bab7baf557b14bc5d093?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TMt8jb0wAgU3-Mxli92wrC2wFsT1Yr24GRohH481ro-DL6H5-uWd95hNFi2DgpNxqQhMnQ6VOAcYihKP7sJ7f2EarZo9lpJmbrYeqz5eEF8AiWp6HHkZF2k9O9RN3qnvUga7PS18Y3YkbkKOF4Uvkldyqu349C5t-QQTvnyjQwCqSxxP2wXyxsbSaE3k~uA~zkV3likqeY5jcRfwVumcoFeBm71CLFJ25tfcqqwEAkgj5Wm75zDvdrecyy-bTZ-ly~4yKM16NUyY-oxU1IzkQpmtAAzPZLHAO4A4fznAvAcxc12ChJNDLUjx1voR4hsiEGj~Az3jXAe52qAoleFgIQ__);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    width: 333px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFF;
    font-size: 16px;
    color: #F6F5EE;
    cursor: pointer;

    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    width: calc(100% - 100px);
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F6F5EE;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.category {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.category p, .category a {
    margin-top: 20px;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
}

.category a {
    cursor: pointer;
    transition: all 1s ease;
}

.category a:hover:after,
.category a:focus:after {
    width: 100%;
}

.category a:after {
    background-color: #000000;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.productsWrapper {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.product {
    width: 434px;
}

.product img {
    margin-bottom: 20px;
}

.product h3{
    margin-bottom: 10px;
    color: '#000';
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.nameWrapper {
    display: flex;
    justify-content: space-between;
}

.nameWrapper p {
    color: #000;
    font-weight: 400;
    font-size: 22px;
}

.description {
    color: #525252;
    font-weight: 300;
    font-size: 22px;
}

.aboutUs {
    display: flex;
    margin-bottom: 70px;
}

.aboutUs_text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    position: sticky;
    width: 40%;
    text-align: justify;
    top: 0;
    height: fit-content;
}

.aboutUs_text h3 {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 400;
}

.aboutUs_text p {
    margin-bottom: 30px;
    color: #525252;
    font-weight: 300;
    font-size: 22px;
}

.aboutUs_text a {
    border-bottom: 1px solid black;
    padding-bottom: 7px;
    font-size: 22px;
    width: fit-content;
}

.aboutUs img {
    object-fit: cover;
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}