.wrapper {
  margin-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

.categoryWrapper {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-style: italic;
  font-size: 40px;
  line-height: 95px;
  font-family: var(--font-playfair);
  cursor: pointer;
}

.category div:hover:after,
.category div:focus:after {
  width: 100%;
}

.category div:after {
  background-color: #000000;
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.category p {
  margin-left: 5px;
  margin-right: 5px;
}

.category .active:after {
  width: 100%;
  background-color: #000000;
}

.description {
  margin-top: 15px;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 22px;
  color: #525252;
  width: 400px;
  text-align: center;
}

.accessoriesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accessoryItem {
  width: 32%;
}

.accessoryImage {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.accessoryDetails {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
}

.accessoryDetails h3 {
  font-size: 22px;
  text-align: justify;
  font-weight: 400;
  text-transform: uppercase;
}

.accessoryDetails p {
  font-size: 22px;
  text-align: justify;
  font-weight: 700;
}

.accessoryDescription {
  margin-top: 15px;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 22px;
  color: #525252;
  text-align: justify;
}

@media (max-width: 1200px) {
    .wrapper {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 0;
    }
    .accessoryDescription {
        font-size: 18px;
    }
    .accessoryDetails p,
    .accessoryDetails h3 {
        font-size: 20px;
    }
}
@media (max-width: 1000px) {
    .accessoryItem {
        width: 49%;
    }
    .accessoryDetails p,
    .accessoryDetails h3 {
        font-size: 18px;
    }
    .accessoryDescription {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0;
    }
    .accessoryDetails p,
    .accessoryDetails h3 {
        font-size: 15px;
    }
    .accessoryDescription {
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    .accessoryItem {
        width: 100%;
    }
    .categoryWrapper {
        height: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .category {
        font-size: 24px;
        height: fit-content;
        line-height: normal;
    }
    .description {
        font-size: 15px;
        width: 300px;
    }
}