.wrapper {
    width: calc(100vw - 100px);
    height: 83px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: transparent;
    position: absolute;
    border-bottom: 1px solid #F6F5EE;
    margin-left: 50px;
    margin-right: 50px;
}

.wrapper a {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--font-inter);
}

.nav {
    width: 500px;
    display: flex;
    justify-content: space-between;
    filter: invert(1)
}

.logo {
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    filter: invert(1);
}

.cart {
    cursor: pointer;
    filter: invert(1);
    position: absolute;
    right: 0px;
    top: unset;
    left: unset;
    transform: unset;
}

.wrapper a:hover:after,
.wrapper a:focus:after {
    width: 100%;
}

.wrapper a:after {
    background-color: #000000;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}